<!--
<div class= "card-container">
-->

<div class="content">
  <div class="card-container">
    <div class="col-left">
      <div class="card card-full" routerLink="/first-component"
           routerLinkActive="active-card"> First Component
      </div>
      <div class="card card-full" routerLink="/binding"
           routerLinkActive="active-card">Binding Data
      </div>
      <div class="card card-full" routerLink="/ng-model"
           routerLinkActive="active-card"> ngModel và form field
      </div>
      <div class="card card-full" routerLink="/directives"
           routerLinkActive="active-card"> Directives
      </div>
      <div class="card card-full" routerLink="/event-handle"
           routerLinkActive="active-card"> Event Handle
      </div>
      <div class="card card-full" routerLink="/services"
           routerLinkActive="active-card"> Services
      </div>
      <div class="card card-full" routerLink="/input"
           routerLinkActive="active-card"> @input
      </div>
      <div class="card card-full" routerLink="/output"
           routerLinkActive="active-card"> @output
      </div>
    </div>
  </div>
  <div class="col-right">
    <div class="card-small">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

