<p>ng-model works!</p>
<form>
  <div class ="form-intro">
    Form sử dụng [(ngModel)] để hiển thị data
  </div><br>
  <div class="form-field">
    <strong><label for="var1">Variable 1 </label></strong>
    <input type="text" class="form-control" id="var1"
           [(ngModel)]="var1" name="var1">
  </div>

  <div class="form-field">
    <strong><label for="var2">Variable 2 </label> </strong>
    <input type="text" class="form-control" id="var2"
           [(ngModel)]="var2" name="var2">
  </div>
  <div class="form-field">
    <strong><label for="var3">Variable 3 </label> </strong>
    <input type="text" class="form-control" id="var3"
           [(ngModel)]="var3" name="var3">
  </div>
  <div class="form-field">
    <strong><label for="var4">Variable 4 </label> </strong>
    <input type="text" class="form-control" id="var4"
           [(ngModel)]="var4" name="var4">
  </div>
</form>
<!--<div class = "form-field">
  <label for="var1">Variable 1 </label>
  <input type ="text" class = "form-control" id ="var1"
         [(ngModel)]= "var1" name ="var1">
</div>

<div class ="form-field">
  <label for ="var2">Variable 2 </label>
  <input type = "text" class = "form-control" id = "var2"
  [(ngModel)]= "model.var2" name ="var2">-->
<!--</div>-->
